<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Configuración</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list padding>
    <button ion-button block (click)="startScanning()">
      <ion-icon name="search"></ion-icon> &nbsp;
      Buscar Dispositivos
    </button>
    <ion-list-header>
      Dispositivos Emparejados
    </ion-list-header>
    <ion-item *ngFor="let device of commonServices.pairedDevices">
      {{device.name}}
    </ion-item>
    <button ion-button block (click)="disconnect()">
      <ion-icon name="power"></ion-icon> &nbsp;
      Desconectar
    </button>
    <ion-list-header>
      Dispositivos Disponibles
    </ion-list-header>
    <ion-item *ngFor='let device of commonServices.unpairedDevices'>
      <span (click)="selectDevice(device.address)">
        {{device.name}}
      </span>
    </ion-item>

    <ion-spinner name="crescent" *ngIf="commonServices.gettingDevices"></ion-spinner>

    <ion-item style="text-align:center">

      <ion-list-header>
        Control Remoto
      </ion-list-header>

      <ion-grid>
        <ion-row>
          <ion-col></ion-col>
          <ion-col>
            <button ion-button block (click)="moveForward()">
              <ion-icon name="md-arrow-round-up"></ion-icon>
            </button>
          </ion-col>
          <ion-col></ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <button ion-button block (click)="moveLeft()">
              <ion-icon name="md-arrow-round-back"></ion-icon>
            </button>
          </ion-col>
          <ion-col>
            <button ion-button block (click)="stop()" color="danger">
              <ion-icon name="md-hand"></ion-icon>
            </button>
          </ion-col>
          <ion-col>
            <button ion-button block (click)="moveRight()">
              <ion-icon name="md-arrow-round-forward"></ion-icon>
            </button>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col></ion-col>
          <ion-col>
            <button ion-button block (click)="moveBackward()">
              <ion-icon name="md-arrow-round-down"></ion-icon>
            </button>
          </ion-col>
          <ion-col></ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list>
</ion-content>